.button {
	display: inline-block;
	border-radius: 100px;
	margin-top: 2vw;
	padding: 14px 28px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: $green;
	@media (min-width: 800px) {
    padding: 10px 20px;
    font-size: 16px;
	}
}