.page {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url("../images/iStock-1397373080-couple-2300.webp");
	background-size: cover;
	background-position: center;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}
.container {
	max-width: 94vw;
	@media (min-width: 800px) {
		max-width: 50vw;
	}
}