.page {
	position: relative;
	overflow-x: hidden;
	background-color: $aubergine;
}
.content {
	max-width: calc(100% - 16vw);
	width: 900px;
	margin: auto;
	@media (min-width: 800px) {
		max-width: calc(800px + 14vh);
		width: 80%;
	}
}
section {
	margin: 100px 0;
	@media (min-width: 800px) {
    padding-right: 14vh; // offset for Federation logo
	}
}