body {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.4;
}
h1 {
	font-size: 25px;
	color: $green;
	padding-bottom: 14px;
	font-weight: bold;
	@media (min-width: 800px) {
		font-size: 3.1vw;
		padding-bottom: 1vw;
	}
	@media (min-width: 1200px) {
		font-size: 38px;
		padding-bottom: 15px;
	}
}
h2 {
	font-size: 22px;
	color: $green;
	padding-bottom: 14px;
	font-weight: bold;
	@media (min-width: 800px) {
		font-size: 2.7vw;
		padding-bottom: 1vw;
	}
	@media (min-width: 1200px) {
		font-size: 30px;
		padding-bottom: 15px;
	}
}
p {
	font-size: 14px;
	padding-bottom: 14px;
	color: white;
	@media (min-width: 800px) {
		font-size: 1.6vw;
		padding-bottom: 1vw;
	}
	@media (min-width: 1200px) {
		font-size: 19px;
		padding-bottom: 15px;
	}
}